<h1>Sıra: {{ turn ? "Sağ" : "Sol" }}</h1>

<div class="board">
  <div class="section midsection">
    <app-player-side
      (sendStones)="clickHole($event)"
      [playerSide]="true"
      [board]="board"
    ></app-player-side>
    <app-player-side
      (sendStones)="clickHole($event)"
      [playerSide]="false"
      [board]="board"
    ></app-player-side>
  </div>
</div>

<ng-container *ngIf="score">
  <h2>Siz : {{ score.playerScore }}</h2>
  <h2>Rakip : {{ score.opponentScore }}</h2>
</ng-container>



<!-- <button (click)="resetGame()">Sıfırla</button> -->
