<div class="score-area">

  <ng-container *ngIf="score">
    <h1 class="score">
      Siz : {{ score.playerScore }}
      Rakip : {{ score.opponentScore }}
    </h1>
  </ng-container>

  <h1 class="turn">Sıra: {{ turn ? "Sağ" : "Sol" }}</h1>


</div>


<div class="board">
  <div class="section midsection">
    <app-player-side
    (sendStones)="clickHole($event)"
    [playerSide]="true"
      [board]="board"
    ></app-player-side>
    <app-player-side
      (sendStones)="clickHole($event)"
      [playerSide]="false"
      [board]="board"
      ></app-player-side>
    </div>
  </div>
